/* CSS files add styling rules to your content */

@import "https://fonts.googleapis.com/css?family=Raleway";

.topimg {
  /*   object-fit: cover;
  display: block;
  position: static; 
  top: 00%;
  left: 50%;
  transform: translate(10%, -50%);
  height: 178px; */
  display: center;
  text-align: center;
  margin: 0 auto;
  /*overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('https://cdn.glitch.com/e0502230-dddd-467a-97fd-afee8c1549e2%2FActiBridge_Logo.png?v=1593896410502'); */
}

h1 {
  font-family: Raleway, arial, sans-serif;
  margin: 2em;
  text-align: center;
}

body {
  font-family: Raleway, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/e0502230-dddd-467a-97fd-afee8c1549e2%2F340434.png?v=1593911265740");
}

/* #but1 {
  left: 10px;
}

#but2 {
  
}

#but3 {
  
}

#but4 {
  
} */

.outer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.inner {
  display: inline-block;
}

.but:hover {
  letter-spacing: 0.8em;
  background-color: #F08C99;
}

button {
  color: white;
  height: 4em;
  width: 30%;
  padding: 1.5em;

  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #B697CC;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.black {
  background-color: black;
  padding: 10%;
}
.green {
  background-color: #2BB39C;
  padding: 10%;
  
}

.darkbrown {
  background-color: #806D6B;
  padding: 10%;
}

.darkbrowntext {
  color: #806D6B;
}

.purple {
  background-color: #B697CC;
  padding: 10%;
}

.activism {
  color: white;
  text-align: center;
}
.learn {
  color: white;
  margin-left: 10%;
}

.lightheading {
  color: #c1cad9;
}
